<!DOCTYPE HTML>
<html>
	<head>
		<title>Project Log - Chris Van Compernolle</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body class="is-preload">
		<div id="page-wrapper">
			<div id="global-header"></div>

			<section id="wrapper">
				<div class="inner">
					
					<article id="active-blog-post">
						<p>Loading project logs...</p>
					</article>
					
				</div>
			</section>

			<div id="global-footer"></div>
		</div>

		<script src="../assets/js/jquery.min.js"></script>
		<script src="../assets/js/main.js"></script>
		<script src="../assets/js/blog-engine.js"></script>
	</body>
</html>